* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #48cfad;
    --border-grey: #cdd2da;
}

html { 
    font-size: 62.5%;
}

body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    min-width: 320px;
    font-size: 1.6rem;
    font-family: 'Roboto Mono', monospace;
}

/* HEADER SOCIALS */
.header__socials-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    background-color: var(--primary-color);
}

.header__social { 
    margin: 10px 15px;
    height: 20px;
}

.header__icon {
    width: 20px;
    height: 20px;
    fill: white;
}

/* HEADER NAV */
.header__nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}

.header__logo,
.header__logo-link {
    height: 50px;
}

.header__profile {
    color: black;
    font-size: 1.8rem;
    font-weight: bold;
}

/* INDEX MAIN CONTANER */
.index__main {
    flex-grow: 1;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-image: url("/assets/img/Cover.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main__info {
    margin: 50px 15px;
    max-width: 800px;
    text-align: center;
    font-size: 3rem;
    color: white;
}

.main__enter {
    margin-bottom: 50px;
    padding: 15px;
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
    color: black;
    background-color: var(--primary-color);
    border: 1px white solid;
    border-radius: 5px;
}

.main__enter:hover {
    text-decoration: underline;
}

/* BLOGS NEWS */
.blogs__news {
    background-color: #e6e9ed;
}

.blogs__news h2{
    padding: 20px 10px;
}

/* BLOG NEWS CARDS */
.blogs__card img {
    width: 100%;
}

.blogs__card h3{ 
    margin: 15px 10px;
    font-weight: normal;
}

.blogs__card p {
    margin: 0 10px;
}

.blogs__card a {
    display: inline-block;
    margin-top: 25px;
    margin-left: 10px;
    padding: 15px;
    color: black;
    text-decoration: none;
    border: 2px solid var(--primary-color)
}

.blogs__card a:hover {
    text-decoration: underline;
}

/* BLOG NEWS MAIN CARD */
.blogs__card.main-card {
    padding-bottom: 25px;
}

.blogs__card.main-card h3 {
    font-weight: bold;
    font-size: 2.2rem;
}

/* BLOGS NEWS CARD GRID */
.blogs__latest {
    display: grid;
    max-width: 920px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 20px;
    row-gap: 30px;
}

.blogs__latest h2 {
    margin-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    
    border-bottom: 1px solid var(--border-grey);
}

/* FOOTER */
.footer__divider {
    margin-top: 50px;
    height: 30px;
    background-color: var(--primary-color);
}

.footer__quote {
    padding: 25px 10px;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: #22272d;
}