.header__socials-container {
    justify-content: flex-end;
    padding-right: 50px;
}

.header__nav {
    justify-content: space-between;
    padding: 0 65px;
}

.header__logo,
.header__logo-link {
    height: 70px;
}

.main__info {
    font-size: 4.2rem;
}

.main__enter {
    margin-top: 50px;
}

/* BLOGS */
.blogs__latest {
    margin: 0 auto;
    margin-bottom: 70px;
    padding: 0 10px;
} 

.blogs__card.main-card h3 {
    margin-top: 0;
}

.blogs__card.main-card img{
    width: 60%;
    max-width: 380px;
    float: left;
    margin-right: 10px;
}

/* PROFILE PAGE */
.profile__about {
    padding: 50px 0;
}

.profile__about-container {
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    max-width: 980px;
}

.profile__about img {
    max-width: 320px;
}

.profile__about-info {
    margin-left: 30px;
}

.profile__about h2 {
    margin-bottom: 25px;
}

.profile__proyects {
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-auto-flow: column;
    column-gap: 30px;
    margin: 0 auto;
    padding: 0 10px;
    max-width: 980px;
}

.profile__proyects h2 {
    grid-column: 1 / 3 span;
    grid-row: 1 / 2;
}

.profile__proyects-card {
    grid-row: 2 / 3;
    margin: 0;
    margin-top: 30px;
}