.header__socials-container {
    justify-content: flex-end;
    padding-right: 50px;
}

.header__nav {
    justify-content: space-between;
    padding: 0 65px;
}

.header__logo,
.header__logo-link {
    height: 70px;
}

.main__info {
    font-size: 4.2rem;
}

.main__enter {
    margin-top: 50px;
}

/* BLOGS */

/* .blogs__latest {
    margin: 0 auto;
    padding: 0 10px;
}  */

.blogs__card.main-card h3 {
    margin-top: 0;
}

.blogs__card.main-card img{
    width: 60%;
    max-width: 380px;
    float:left;
    margin-right: 10px;
}